# Build
bin

# Build system
CMakeCache.txt
CMakeFiles
cmake*
Makefile
build/
_build/

# Configuration/generated
editor.conf
debug.txt
conf_cmake.hpp
install_manifest.txt
*.nbe
*.lua
*.obj

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

#Translations
*.mo

# Mac crap
.DS_Store

# Linux
*~*
.directory
*kate-swp*

*.7z
pkgbuild